.home {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 72vh;
  padding: 0 2rem; /* smaller padding */
  color: var(--color-text);
  max-width: 1150px;   
  margin: 0 auto;     
  width: 100%;      
  margin-bottom: 5rem;   
}



.home h1 {
  font-size: 2.5rem;       
  font-weight: 600;
  margin: 0;
  
}

.home p.subtitle {
  font-size: 1.4rem;   
  font-weight: 400;
  margin-top: 2rem;
 
}

.hero-text {
  max-width: 40rem;
}


.project-button {
  display: inline-block;
  margin-top: 1.2rem;                 
  padding: 1rem 2.3rem;
  background-color: var(--color-accent);
  color: #ffffff;
  font-weight: 500;
  border-radius: 8px;
  text-decoration: none;
  transition: background-color 0.3s ease;
  font-size: 1.1rem;
}

.project-button:hover {
  background-color: #2563EB;       
}

.circuit-bg {
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;      
  height: auto;
  z-index: -1;      
  pointer-events: none; 
}

.photohome {
  max-width: 32rem;
  height: auto;
  object-fit: contain;
}