.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;

}

.navbar-left .logo {
  font-size: 1.5rem;
  font-weight: bold;
  text-decoration: none;
  color: var(--color-text);
}

.navbar-right .nav-links {
  list-style-type: none;
  display: flex;
  margin: 0;
  padding: 0;
  
}

.navbar-right .nav-links li {
  margin-right: 1.5rem;
}

.navbar-right .nav-links a {
  text-decoration: none;
  color: var(--color-text);
}

.nav-brand {
  display: flex;
  align-items: center;
  flex-shrink: 0;    
  height: 100%;       
}

.navbar-logo {
  height: 60%;           
  width: auto;
  max-height: 80px;    
}