body {
  margin: 0;
  font-family: 'Inter', system-ui, -apple-system, BlinkMacSystemFont, sans-serif;
  background-color: #eeeeee;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

:root {
  --color-text: #111827;
  --color-background: #ffffff;
  --color-accent: #3B82F6;
  --color-navbar-bg: #F9FAFB;
}